<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phy.bcs.service.file.mapper.InfFileStatusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.phy.bcs.service.file.model.InfFileStatus">
        <id column="ID" property="id" />
        <result column="FILE_NAME" property="fileName" />
        <result column="LENGTH" property="length" />
        <result column="FILE_CONTENT" property="fileContent" />
        <result column="FROM_SYSTEM" property="fromSystem" />
        <result column="TO_SYSTEM" property="toSystem" />
        <result column="REC_FINISH" property="recFinish" />
        <result column="SEND_FINISH" property="sendFinish" />
        <result column="TRANS_TIMES" property="transTimes" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="REMARK" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID AS id,
        FILE_NAME AS fileName,
        LENGTH AS length,
        FILE_CONTENT AS fileContent,
        FROM_SYSTEM AS fromSystem,
        TO_SYSTEM AS toSystem,
        REC_FINISH AS recFinish,
        SEND_FINISH AS sendFinish,
        TRANS_TIMES AS transTimes,
        CREATE_TIME AS createTime,
        UPDATE_TIME AS updateTime,
        REMARK AS remark
    </sql>

    <select id="findAllObject" resultType="com.phy.bcs.service.file.model.InfFileStatus">
        SELECT
          <include refid="Base_Column_List"/>
        FROM INF_FILE_STATUS
    </select>

    <insert id="insert" parameterType="InfFileStatus" useGeneratedKeys="true" keyColumn="id">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            SELECT SEQ_INFFILESTATUS.NEXTVAL FROM DUAL;
        </selectKey>
        INSERT INTO INF_FILE_STATUS(ID, FILE_NAME, LENGTH, FILE_CONTENT, FROM_SYSTEM, TO_SYSTEM, FROM_PROTO, TO_PROTO, REC_FINISH, SEND_FINISH, TRANS_TIMES, CREATE_TIME, UPDATE_TIME, REMARK)
        VALUES(#{id}, #{fileName}, #{length}, #{fileContent}, #{fromSystem}, #{toSystem}, #{fromProto}, #{toProto}, #{recFinish}, #{sendFinish}, #{transTimes}, #{createTime}, #{updateTime}, #{remark})
    </insert>
</mapper>
